
venv/
.env
.env.*  # Игнорируем все файлы .env (например, .env.dev, .env.prod)


__pycache__/
*.pyc
*.pyo
*.pyd


logs/
*.log
*.out
*.err
*.pid
*.db-journal


.vscode/
.idea/
*.iml


.DS_Store
Thumbs.db


*.sqlite3
*.db


docker-compose.override.yml
*.dockerfile


*.egg-info/
dist/
build/
